body {
  background-color: #282a36;
  color: #f8f8f2;
}

.container, ul, li {
  background-color: #44475a !important;
}

hr {
  border-color: #ffb86c;
}

.where-when {
  color: #8be9fd
}

strong {
  color: #50fa7b;
}

.btn-link, a {
  color: #ff79c6
}
